In [14]:
from IPython.display import display_html
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import re
import json
import os
import pprint

In [15]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

In [16]:
page = "https://www.transfermarkt.com/primera-division/marktwertaenderungen/wettbewerb/ES1/saison_id/2018/sort/marktwert.desc"
tree = requests.get(page, headers=headers)
soup = bs(pageTree.content, 'html.parser')

In [17]:
Players = soup.find_all("a", {"class": "spielprofil_tooltip"})

In [18]:
Players[0].text

'Lionel Messi'

In [19]:
Values = soup.find_all("td", {"class": "rechts hauptlink"})

Values[0].text

'160,00 Mill. €\xa0\xa0'

In [20]:
#Club = pageSoup.find_all("a", {"class": "vereinprofil_tooltip"})

#Club[0].text

In [21]:
PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})


print(PlayersList)
print(ValuesList)

['Lionel Messi', 'Lionel Messi', 'Antoine Griezmann', 'Philippe Coutinho', 'Saúl Ñíguez', 'Gareth Bale', 'Marco Asensio', 'Marc-André ter Stegen', 'Raphaël Varane', 'Jan Oblak', 'Toni Kroos', 'Ousmane Dembélé', 'Isco', 'Sergio Busquets', 'Jordi Alba', 'Koke', 'Marcelo', 'Casemiro', 'Samuel Umtiti', 'Ivan Rakitic', 'Thibaut Courtois', 'Thomas Lemar', 'Luis Suárez', 'Lucas Hernández', 'Daniel Carvajal']
['160,00 Mill. €\xa0\xa0', '150,00 Mill. €\xa0\xa0', '140,00 Mill. €\xa0\xa0', '90,00 Mill. €\xa0\xa0', '80,00 Mill. €\xa0\xa0', '80,00 Mill. €\xa0\xa0', '80,00 Mill. €\xa0\xa0', '80,00 Mill. €\xa0\xa0', '80,00 Mill. €\xa0\xa0', '80,00 Mill. €\xa0\xa0', '80,00 Mill. €\xa0\xa0', '75,00 Mill. €\xa0\xa0', '75,00 Mill. €\xa0\xa0', '70,00 Mill. €\xa0\xa0', '70,00 Mill. €\xa0\xa0', '70,00 Mill. €\xa0\xa0', '70,00 Mill. €\xa0\xa0', '70,00 Mill. €\xa0\xa0', '65,00 Mill. €\xa0\xa0', '65,00 Mill. €\xa0\xa0', '60,00 Mill. €\xa0\xa0', '60,00 Mill. €\xa0\xa0', '60,00 Mill. €\xa0\xa0', '55,00 Mill. €\xa0\xa0', '160,00 Mill. €']

In [22]:
df

                  Players            Values
0            Lionel Messi  160,00 Mill. €
1            Lionel Messi  150,00 Mill. €
2       Antoine Griezmann  140,00 Mill. €
3       Philippe Coutinho   90,00 Mill. €
4             Saúl Ñíguez   80,00 Mill. €
5             Gareth Bale   80,00 Mill. €
6           Marco Asensio   80,00 Mill. €
7   Marc-André ter Stegen   80,00 Mill. €
8          Raphaël Varane   80,00 Mill. €
9               Jan Oblak   80,00 Mill. €
10             Toni Kroos   80,00 Mill. €
11        Ousmane Dembélé   75,00 Mill. €
12                   Isco   75,00 Mill. €
13        Sergio Busquets   70,00 Mill. €
14             Jordi Alba   70,00 Mill. €
15                   Koke   70,00 Mill. €
16                Marcelo   70,00 Mill. €
17               Casemiro   70,00 Mill. €
18          Samuel Umtiti   65,00 Mill. €
19           Ivan Rakitic   65,00 Mill. €
20       Thibaut Courtois   60,00 Mill. €
21           Thomas Lemar   60,00 Mill. €
22            Luis Suárez   60,00 Mill. €
23        Lucas Hernández   55,00 Mill. €
24        Daniel Carvajal    160,00 Mill. €

In [ ]:
url = (r"C:\Users\GSRic\Desktop\Data Analytics Fifa La Liga\Fifa\LaLigaPage19.html")

In [ ]:
page = open(url)

In [ ]:
soup = bs(page.read())
#soup = bs(response.text, 'html.parser')

In [ ]:
#print(soup)
print(pageSoup.prettify())

In [ ]:
table2 = soup.find_all('table')
print(table2)
print(table2)

In [ ]:
pageTree = requests.get(page, headers=headers)
pageSoup = bs(pageTree.content, 'html.parser')

In [ ]:
My_table = soup.find('table',{'class':'items'})

In [ ]:
My_table

In [ ]:
links = My_table.findAll('a')

In [ ]:
links

In [ ]:
table = soup.find('table')

In [ ]:
table

In [ ]:
table_rows = table.find_all('tr')

In [ ]:
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    print(row)

In [ ]:
#df = pd.read_clipboard()
#print(df)

In [ ]:
players = []
for link in links:
    players.append(link.get('title'))

In [ ]:
print(players)

In [ ]:
df = pd.read_html(r"C:\Users\GSRic\Desktop\Data Analytics Fifa La Liga\Fifa\LaLigaPage19.html")[0]

In [ ]:


url = ("C:\Users\GSRic\Desktop\Data Analytics Fifa La Liga\Fifa\List of sovereign states - Wikipedia.html")
page = open(url)
soup = BeautifulSoup(page.read())

print(soup)