In [16]:
from IPython.display import display_html
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import re
import json
import os
import pprint

In [17]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

In [18]:
page = "https://www.transfermarkt.com/primera-division/marktwertaenderungen/wettbewerb/ES1/saison_id/2018"
pageTree = requests.get(page, headers=headers)
pageSoup = bs(pageTree.content, 'html.parser')

In [19]:
Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

In [20]:
Players[0].text

'Lionel Messi'

In [21]:
Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

Values[0].text

'8,00 Mill. €\xa0\xa0'

In [27]:
#Club = pageSoup.find_all("a", {"class": "vereinprofil_tooltip"})

#Club[0].text

''

In [22]:
PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

df.head()

             Players            Values
0       Lionel Messi    8,00 Mill. €
1       Stiven Plaza  160,00 Mill. €
2   Maximilian Wöber  150,00 Mill. €
3       Lionel Messi  140,00 Mill. €
4  Antoine Griezmann   90,00 Mill. €

In [23]:
df

                  Players            Values
0            Lionel Messi    8,00 Mill. €
1            Stiven Plaza  160,00 Mill. €
2        Maximilian Wöber  150,00 Mill. €
3            Lionel Messi  140,00 Mill. €
4       Antoine Griezmann   90,00 Mill. €
5       Philippe Coutinho   80,00 Mill. €
6             Saúl Ñíguez   80,00 Mill. €
7             Gareth Bale   80,00 Mill. €
8           Marco Asensio   80,00 Mill. €
9   Marc-André ter Stegen   80,00 Mill. €
10         Raphaël Varane   80,00 Mill. €
11              Jan Oblak   80,00 Mill. €
12             Toni Kroos   75,00 Mill. €
13        Ousmane Dembélé   75,00 Mill. €
14                   Isco   70,00 Mill. €
15        Sergio Busquets   70,00 Mill. €
16             Jordi Alba   70,00 Mill. €
17                   Koke   70,00 Mill. €
18                Marcelo   70,00 Mill. €
19               Casemiro   65,00 Mill. €
20          Samuel Umtiti   65,00 Mill. €
21           Ivan Rakitic   60,00 Mill. €
22       Thibaut Courtois   60,00 Mill. €
23           Thomas Lemar    160,00 Mill. €
24        Lucas Hernández    150,00 Mill. €